body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10pt; 
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  text-align: justify;
  line-height: 2;
  padding: 200px;
}

h2{
  color:black;
  font-size: 14pt;
  text-align: center;
  padding: 200px;
}

nav{
  font-size: 14pt;
}

p {
  font-size: 8pt;
}

header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: double;

}

.nav_links{
  display: flex;
  flex-direction: row;
  font-size: 15px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;

} 


.nav_item a{
  color: black;
  font-size: 8px;
  text-decoration: none;
  padding: 10px 20px;
}

.nav_item,a:focus{
  color: #85ACE6;
  text-decoration: underline;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link{
  color:black;
  text-decoration: underline;
}

a:visited{
  color:black;
}

a:hover {
  background-color: #85ACE6;
  color: black;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  margin-top: -500px;
}



.skip a:focus{
  margin-top: 0px;
  margin-left:0px;

}

*:focus{
  border:2px solid black;
}



.current{
  background-color: #85ACE6;
  color: black;
}

.projects{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

footer{
  text-align: center;
  background-color: #ddd;
  height: 30px;
  padding: 10px;
}




