body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10pt; 
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 15pt;
  text-align: justify;
  line-height: 2;
  padding: 200px;
}

h2{
  color:black;
  font-size: 14pt;
  text-align: center;
  padding: 200px;
}

p {
  font-size: 8pt;
  padding: 20 200px;
}

header{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: double;

}

.nav_links{
  display: flex;
  flex-direction: row;
  font-size: 15px;
  list-style-type: none;
  align-items: center;
  justify-content: space-between;

} 


.nav_item a{
  color: black;
  font-size: 8px;
  text-decoration: none;
  padding: 10px 20px;
}

.nav_item,a:focus{
  color: #85ACE6;
  text-decoration: underline;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link{
  color:black;
  text-decoration: underline;
}

a:visited{
  color:black;
  font-weight: bold;
}

a:hover {
  background-color: #85ACE6;
  color: black;
}


@-webkit-keyframes logo_wiggle{
  from {
    width: 200px;
  }
  to{
    width: 420px;
  }
}


@keyframes logo_wiggle{
  from{
    width: 200px;
  }
  to{
    width: 420px;
  }
}


  #logo{
  -webkit-animation-name: logo_wiggle;
          animation-name: logo_wiggle;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  margin-top: -500px;
}



.skip a:focus{
  margin-top: 0px;
  margin-left:0px;

}

*:focus{
  border:2px solid black;

}

.container{
  display: grid;
  grid-template-columns: 100px 200px 200px 100px;
  grid-template-rows: 30px auto auto auto auto auto 100px;
  grid-row-gap:15px;
}

/*.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 15px;
  text-align: center;
  padding: 20px;
}*/

.me{
  grid-column:1/-1;
  max-height: 700px;
  overflow: hidden;

}

.introtext{
  grid-column: 1/-1;
}

#project1, #project2{
  grid-column:1/span 2;
  max-height: 700px;
  overflow: hidden;
}

.introtext{
  grid-row: 1/ 3;
}

.me{
  grid-row: 3/ 4;

}

#project1{
  grid-row:4/ span 1;
}

#project2{
  grid-row: 5/ span 1;
}

.flip-card {
  background-color: transparent;
  width: 765px;
  height: 544px;
  border: 1px solid #f1f1f1;
  margin-right: auto;
  margin-left: auto;
}


.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  background-color: #CCCCFF;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden;
}


.flip-card-front {
  background-color: #bbb;
  color: black;
}


.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}

footer{
  text-align: center;
  background-color: #ddd;
  height: 30px;
  padding: 10px;
}


.current{

  background-color: #85ACE6;
  color: black;

}



@media screen and (min-width: 800px){

  .container{

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 15px;
    text-align: center;
    padding: 20px;

  }

  .introtext{
    grid-column: 1/ -1;
  }


  .me{

    grid-column: 2/ span 2;
    padding: 30px;

}

  .flipcard{
    width:50%;

  }

  #project1{
    grid-column: 1/ span 2;
  }

  #project2{
    grid-column: 2/ span 3;
  }

  #logo{
  display: block;
  align-self: left;
  }
   
}

@media (prefers-reduced-motion:reduce){

  #logo{
    animation: none;
  }
}

